.root {
    -fx-font-size: 16px;
    -fx-background-image:url("../img/BG.png");
}
#rich-blue {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
#rich-blue:hover{
    -fx-background-color:
    #000000,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: #dfdfdf;
    -fx-font-size: 12px;
    -fx-effect : innershadow( gaussian , rgba(0,0,0,255) , 10, 0.3 , 0 , 0);
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Arcon-Regular";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-tab-min-width:100%;
    -fx-tab-min-height:100%;
    -fx-font: 25px Arcon-Regular;
    -fx-border-style: none;
}

.tab-pane
{
    -fx-tab-min-width:100%;
    -fx-tab-min-height:100%;
    -fx-font-family: "Arcon-Regular";
}

.tab{

}
.tab-pane .tab
{
    -fx-background-color: #081828;
    -fx-border-style: none;
}

.tab-pane .tab:selected
{
    -fx-background-color: #0a2b4c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 25px;
    -fx-border-style: none;
    -fx-font-family: "Arcon-Regular";
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #dbdbdb;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #081828;
    -fx-background-color: #081828;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent;

    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.slider
{
    -fx-text-overrun: word-ellipsis;
}
.titre
{
    -fx-font-weight: bold;
    -fx-text-fill: #f9f9f9;
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.text
{
    -fx-text-fill: #fffff;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.cb {
    -fx-background-color: #1a1a1a;
}

.cb .menu-item:focused {
    -fx-background-color: #071727; /* for example */
}

.cb .context-menu {
    -fx-background-color: #1a1a1a;
}

.cb {
    -fx-mark-color: white ;
}

.text-field {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #101010;
}

.synop {
    -fx-text-fill: #f9f9f9;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

/****************************************************************

  ScrollBar Skin

****************************************************************/
.scroll-bar{
    -fx-background-color: rgb(96,96,96);
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211,211,211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


.scroll-pane {
    -fx-background-color: transparent;
}